.footer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.footer p{
  color: grey;
}

.footer ul{
  color: grey;
  display: flex;
  gap: 2rem;
}