.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5rem;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  left: 0%;
  transform: translateX(0%);
}

.footer p{
  color: grey;
  font-size: 0.8rem;
}

.footer ul{
  color: grey;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer li{
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer li:hover{
  color: #dcdcdc;
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
  }
}
